body{
    background-color: #101011;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color:  #101011;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}

input {
    border: none;
    border-radius: 5px;
    padding: 0.5em;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    color:  #101011;
    margin: 0.5em 0px;
}

#container {
    background-image: url('/imagem/eduardo-soares-QsYXYSwV3NU-unsplash.jpg');
    background-size: 100vmax 100vmin;
    height: 100vh;
    position: relative;
}

#item-button {
    background-color: #f4d58d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5em;
}

#item-button:hover {
    background-color: #f1c661;
}

.listaDeCompras {
    background-color: #a8bfb6;
    border-radius: 20px 5px 20px 5px;
    left: 0;
    margin: auto;
    opacity: 0.8;
    padding: 1em 2em;
    position: absolute;
    right: 0;
    top: 50vh;
    transform: translateY(-50%);
    width: 400px;
}

.remove{
    background-color: #f4d58d;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}
